# Usuario de la base de datos
DB_USER=postgres

# Contraseña del usuario
DB_PASSWORD=postgres

# Dirección de la base de datos
DB_HOST=mc-postgres

# Puerto de la base de datos
DB_PORT=5432

# Nombre de la base de datos
DB_NAME=muroc

# Puerto para la aplicacion
DEV_PORT=3000